/* --- setting the base for mobile screens first --- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Alan Sans', sans-serif;   

}

body{
    text-align: center;
    padding: 20px;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    max-width: 100%;


}
li{
    list-style: none;
    text-align: center;
    margin: 5px 0;
    font-size: 1rem;
}
    


.hero{
    width: 100%;
    max-height: 80% ;
    overflow: hidden;
    border-bottom: rgba(245, 5, 5, 0.76) 10px solid; 
}
    
.hero img {
    
    width: 100%;
    height: auto;
    object-fit: cover;
}
h2{
    color: black;
    text-align: center;
}
.intro, .weather{
    position: relative;
    width: 100%;
    padding: 10px;
    text-align: justify;
    

}
div{
    display: flex;
    flex-direction: column;
    align-items: center;
}


h1{
    font-size: 3rem;
    color: white;
    background: linear-gradient(to right, #f1da07 0%, #155502 100%);
    border-bottom: rgba(245, 5, 5, 0.76) 10px solid;
    width: 100%; 
    padding: 10px 0;
}
footer{
    color: white;
    padding: 1.5rem;
    margin: 0;
    background-color:rgba(245, 5, 5, 0.76);
}
footer p{
    padding: 0.5rem;
}

/*--- for mobile phone screens --- */
@media (min-width: 400px) {
    h1{
        font-size: 1.8rem;
    }
    li{
        font-size: 0.9rem;
    }
    .intro, .weather {
        width: 100%;
        font-size: 0.9rem;
    }
    footer{
        width: 100%;
        font-size: 0.9rem;
    }

}

/*--- for screens 601px to 1024px(tablets and small laptops) ---*/

@media (min-width: 600px) and (max-width: 1024px){
    main{
        flex-direction: column;
        align-items: center;
    }

    
    
    .intro, .weather {
        width: 80%;
        position: relative;

    }
    h1{
        font-size: 2.5rem;
    }
}

/* --- for Screens 1025px and above --- */

@media(min-width: 1200px){
    main{
        flex-direction: row;
        justify-content: space-between;
        width: 100vw;
        position: relative;
    }
    
    .intro, .weather{
        position: absolute;
        width: 300px;
        border-radius: 10px;

        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    }
    .intro{
        left: 5%;
        top:30%;
        background-color: rgba(255, 255, 255, 0.6);
        color: black;
    }
    .weather{
        right:5%;
        bottom: 10%;
        background-color:  rgba(255, 255, 255, 0.6);
        color: black;
    }
    
    h1{
        font-size: 3rem;
    }
    h2{
        color: white;
        background-color: #155502;
        width: 100%;
        padding: 5px;
    }
    
    .weather h2 {
        text-align: left;
    }
    div h2{
        position: relative;
        z-index: 1;
    }
    div img {
        position: absolute;
        z-index: 2;
        right: 15px;
        top: 5px;

    }
}