@media (min-width:501px){
    h1{
        font-size: 2.5rem;
        margin-left: 0;
        text-align: center;

    }
    h2{
       font-size: 2rem;
       text-align: center;
    }
   #menu-button {
    display: none;
   }
   .navigation{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    max-width: none;
    padding: 1rem 0;
   }
   .navigation li{
    display: flex;
    justify-content: center;
    align-items: center;
   }
   .divider{
    display: grid;
    margin: 2em;
    gap: 2rem;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    
   }
   figure {
    text-align: center;
   }

   

}