* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    padding: 20px;
}
header{
    background-color:rgb(5, 5, 88);
    color: white;
    padding: 10px 0;
    margin-bottom: 2rem;
}
#menu-button{
    font-size: 2rem;
    border: 0;
    margin-top: 1.5rem;
    margin-right: 1rem;
    background: none;
    color: #ffffff;
    position: absolute;
    top: 1rem;
    right: 1rem;
}
#menu-button::before{
    content: "≡";
}
#menu-button.open::before{
    content: "⚡";
}
nav {
    display: flex;
    justify-content: center;
    align-items: center;
}
.navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    max-width: 500px;
    list-style: none;
    color: #ffffff;
    padding: 1rem 0;
}
.navigation li {
    display: none;
    width: 100%;
}
.navigation.open li {
    display: flex;
    justify-content: center;
}
.navigation a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    padding: 0.5rem 1rem;
    width: 100%;
}
.navigation a:hover {
    border: 1px;
    border-color: #ffffff;
    font-size: larger;

}
.active::before{
    content: "♦ ";
    color: yellow;
    margin-right: 3px;
}
h1{
    text-align: left;
	font-size: 1.5rem;
    margin: 1rem;
}
h2{
    text-align: center;
    color: rgb(5, 5, 88);

}
.divider{
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer {
    text-align: center;
    margin-top: 2rem;
    font-size: 0.9rem;
    color: #ffffff;
    background-color: rgb(5, 5, 88);
}